#header_bg {
  background-color: #eee;
}
#header_bg header {
  margin: 0 auto;
  overflow-x: hidden;
  width: calc(100% - 30px);
  max-width: 1200px;
  min-width: 320px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: aqua;
  height: 70px;
}
#header_bg header nav {
  background-color: yellow;
}
#header_bg header nav a {
  margin-left: 16px;
}
#header_bg header nav a:first-child {
  margin: 0;
}

#slide_wrap {
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
  width: calc(100% - 30px);
  max-width: 1200px;
  min-width: 320px;
}
#slide_wrap .slide_container .slide {
  display: none;
}
#slide_wrap .slide_container .slide1 {
  display: block;
}
#slide_wrap .prev, #slide_wrap .next {
  position: absolute;
  top: 50%;
}
#slide_wrap .prev {
  left: 20px;
}
#slide_wrap .next {
  right: 20px;
}
#slide_wrap .pagenation {
  background-color: aquamarine;
  position: absolute;
  width: 100%;
  bottom: 25px;
  text-align: center;
}
#slide_wrap .pagenation a {
  display: inline-block;
  background: #ccc;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: 5px;
}
#slide_wrap .pagenation .active {
  background: #fff;
}
#slide_wrap .pagenation a:first-child {
  margin: 0;
}

#gallery_wrap {
  background-color: lime;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  overflow-x: hidden;
  width: calc(100% - 30px);
  max-width: 1200px;
  min-width: 320px;
  padding: 50px 0;
}
#gallery_wrap .gallery {
  width: 100px;
  height: 100px;
}
#gallery_wrap .gallery img {
  width: 100%;
}
#gallery_wrap .g5 {
  width: 200px;
  height: 200px;
}

#bnr_wrap {
  padding: 50px 0;
  background-color: #222;
  text-align: center;
}
#bnr_wrap span {
  color: #fff;
}

#card_wrap {
  margin: 0 auto;
  overflow-x: hidden;
  width: calc(100% - 30px);
  max-width: 1200px;
  min-width: 320px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
#card_wrap .card {
  width: 22%;
  padding: 30px 20px;
  background-color: #eee;
}
#card_wrap .card * {
  margin-bottom: 20px;
}
#card_wrap .card .photo img {
  width: 100%;
}
#card_wrap .card p {
  line-height: 1.3;
}
#card_wrap .card p:last-child {
  margin-bottom: 0;
}

#qa_wrap {
  margin: 0 auto;
  overflow-x: hidden;
  width: calc(100% - 30px);
  max-width: 1200px;
  min-width: 320px;
}
#qa_wrap h2 {
  font-size: 1.375rem;
  margin-bottom: 20px;
}
#qa_wrap #qaFrm fieldset * {
  width: 100%;
  background-color: #eee;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
}
#qa_wrap #qaFrm fieldset #user_qa {
  height: 200px;
}
#qa_wrap #qaFrm fieldset #qa_btn {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
}

footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 50px 0;
}

@media screen and (max-width: 1024px) {
  #header_bg header {
    background: coral;
  }
}/*# sourceMappingURL=style.css.map */